.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}

        .intro-2 {
            background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
            background-size: cover;
        }
